
@{
    ViewData["Title"] = "نتیجه پرداخت";
}

<h1>نتیجه پرداخت</h1>
<hr />
<div class="alert alert-success">
    <h2>کاربر گرامی با تشکر از پرداخت شما</h2>
    <p>کد پیگیری شما : @ViewBag.code</p>
</div>

@section Sidebar{
    @(await Component.InvokeAsync("CategoriesComponent"))
    <!-- /.col-lg-3 -->
}
