@model Shop.Common.UserViewModel.UserEditViewModel

@{
    ViewData["Title"] = "ویرایش کاربر";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-lg-12">
        <section class="panel" style="padding:10px">
            <h1>افزودن محصول</h1>

            <div class="panel-body">
                <form action="/Admin/Users/Edit" method="post" role="form">
                    <input type="hidden" asp-for="Id"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="name" class="control-label">نام</label>
                            <input id="name" asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">کد فعالسازی</label>
                            <input asp-for="ActivationCode" class="form-control"/>
                            <span asp-validation-for="ActivationCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="isactive" class="control-label">فعال؟</label>
                            <input id="tiisactivetle" asp-for="IsActive" class="form-control-check"/>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">شماره تلفن</label>
                            <input asp-for="PhoneNumber" class="form-control"/>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="isadmin" class="control-label">ادمین؟</label>
                            <input id="isadmin" asp-for="IsAdmin" class="form-control-check"/>
                            <span asp-validation-for="IsAdmin" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <input type="submit" value="ویرایش" class="btn btn-primary"/>
                        </div>
                    </div>

                </form>
            </div>

            <div>
                <a href="/Admin/Users/Index">برگشت به لیست</a>
            </div>

        </section>
    </div>
</div>
